/* rubik-regular - latin */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&family=Rubik:wght@300;400;500&display=swap');
:root {
    --gradient: linear-gradient(89.31deg, #24C7DC 0.57%, #514A9D 99.4%);
    --dark-gradient: linear-gradient(89.31deg, #22BACE 0.57%, #48418F 99.4%);
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.register {
    width: 495px;
    height: 610px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    background: #F8F8F8;
    /* shadow */
    -webkit-box-shadow: 0px 6px 16px rgba(137, 160, 186, 0.41);
    box-shadow: 0px 6px 16px rgba(137, 160, 186, 0.41);
    border-radius: 28px;
}

@-webkit-keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

.autoitem {
    position: absolute;
    width: 175px;
    height: 28px;
    left: 100px;
    top: 191px;
}

.regitem {
    position: absolute;
    width: 175px;
    height: 28px;
    left: 270px;
    top: 191px;
}

.register .nav .nav-link {
    height: 40px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #9B9B9B;
}

.register .nav .nav-link:hover {
    border: none;
}

.register .nav .nav-link.active {
    -o-border-image: -o-linear-gradient(0.69deg, #24C7DC 0.57%, #514A9D 99.4%);
    border-image: linear-gradient(89.31deg, #24C7DC 0.57%, #514A9D 99.4%);
    border-image-slice: 1;
    border-bottom: solid 2px;
    width: 100%;
    color: #325B6C;
}

.register-heading {
    position: absolute;
    text-shadow: 0 0 1px var(--gradient);
    width: 260px;
    height: 85px;
    left: 130px;
    top: 74px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 85px;
    font-weight: 400;
    /* фон_надписи_в_слайдере */
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52%, #24C6DC), to(#514A9D));
    background: -o-linear-gradient(left, #24C6DC 0.52%, #514A9D 100%);
    background: linear-gradient(90deg, #24C6DC 0.52%, #514A9D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.field {
    position: absolute;
    left: 140px;
    top: 296px;
    margin: 0;
}

.regfield {
    /* margin-bottom: 45px; */
    border-bottom: solid 2px #325B6C;
    width: 250px;
    height: 36px;
}

.autofield {
    margin-bottom: 45px;
    border-bottom: solid 2px #325B6C;
    width: 250px;
    height: 36px;
}

.form-control {
    background-color: transparent;
    outline: none;
    border: none;
}

.pic1 {
    position: absolute;
    left: 115px;
    top: 308px;
}

.pic2 {
    position: absolute;
    left: 115px;
    top: 388px;
}

.pic3 img {
    position: absolute;
    left: 115px;
    top: 366px;
    width: 20px;
    height: 20px;
}

.pic4 {
    position: absolute;
    left: 115px;
    top: 411px;
}

.pic5 {
    position: absolute;
    left: 115px;
    top: 463px;
}

.btnRegister {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 250px;
    height: 36px;
    left: 135px;
    top: 530px;
    border: none;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52%, #24C6DC), to(#514A9D));
    background: -o-linear-gradient(left, #24C6DC 0.52%, #514A9D 100%);
    background: linear-gradient(90deg, #24C6DC 0.52%, #514A9D 100%);
    color: #fff;
    cursor: pointer;
}

.btnAutoriz {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 250px;
    height: 36px;
    left: 135px;
    top: 458px;
    border: none;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0.52%, #24C6DC), to(#514A9D));
    background: -o-linear-gradient(left, #24C6DC 0.52%, #514A9D 100%);
    background: linear-gradient(90deg, #24C6DC 0.52%, #514A9D 100%);
    color: #fff;
    cursor: pointer;
}

.password-control {
    position: absolute;
    right: 5px;
    bottom: 50px;
    width: 20px;
    height: 20px;
    background: url(../img/eye.svg) no-repeat;
    background-position: center right;
    background-size: 20px 15px;
}

.password-control-reg1 {
    position: absolute;
    right: 5px;
    bottom: 70px;
    width: 20px;
    height: 20px;
    background: url(../img/eye.svg) no-repeat;
    background-position: center right;
    background-size: 20px 15px;
}

.password-control-reg2 {
    position: absolute;
    right: 5px;
    bottom: 18px;
    width: 20px;
    height: 20px;
    background: url(../img/eye.svg) no-repeat;
    background-position: center right;
    background-size: 20px 15px;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100vw;
    background: var(--gradient);
    -webkit-box-shadow: 0px 6px 55px rgba(74, 82, 92, 0.41);
    box-shadow: 0px 6px 55px rgba(74, 82, 92, 0.41);
}

.bckg-1 {
    -webkit-transform: rotate(-6deg) translateY(-14vh) scale(1.15);
    -ms-transform: rotate(-6deg) translateY(-14vh) scale(1.15);
    transform: rotate(-6deg) translateY(-14vh) scale(1.15);
    z-index: -1;
    height: 40vh;
    /* bottom: 0;
    box-shadow: 0px -6px 55px rgba(74, 82, 92, 0.41);*/
}

.bckg-2 {
    z-index: -2;
    height: 100vh;
    background: var(--dark-gradient);
}

.bckg-3 {
    -webkit-transform: rotate(9.5deg) translateY(16vh) scale(1.15);
    -ms-transform: rotate(9.5deg) translateY(16vh) scale(1.15);
    transform: rotate(9.5deg) translateY(16vh) scale(1.15);
    z-index: -1;
    height: 40vh;
    bottom: 0;
    -webkit-box-shadow: 0px -6px 55px rgba(74, 82, 92, 0.41);
    box-shadow: 0px -6px 55px rgba(74, 82, 92, 0.41);
}