@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@500&display=swap');
:root {
    --width-carusel: 60vw;
    --height-carusel: calc(0.265 * var(--width-carusel));
    --font-size: 12px;
    --container-p-size: 35vw;
    --circle-size: calc(var(--font-size) / 1.5);
    --grid-colunn: 1fr 1fr;
    --grid-row: calc(var(--height-carusel) / 3) calc(2 *var(--height-carusel) / 3);
    --position: absolute;
    --gap: 47px;
    --cicle-orient: block;
    --padding-content: 0 5vw 0 2vw;
    --padding-text: 10px 0 10px 0;
    --gradien: linear-gradient(90deg, #FFD89B 0.52%, #19547B 100%);
    --shift--left: calc(calc(100vw - 540px) / 2);
}

@media (max-width: 576px) {
     :root {
        --width-carusel: 100vw;
        --height-carusel: 110vw;
        --font-size: 0.85em;
        --grid-row: 60vw 3fr 4fr 1fr;
        --container-p-size: 80vw;
        --circle-size: calc(var(--font-size));
        --grid-colunn: 1fr;
        --image-vw: 100vw;
        --position: relative;
        --cicle-orient: inline-flex;
        --padding-content: 19px 0 12px 0;
        --padding-text: 0 20px 0 20px;
        --gradien: linear-gradient(180deg, #FFD89B 0.52%, #19547B 100%);
        --shift--left: calc(calc(100vw - 540px) / 2);
    }
}

@media (min-width: 576px) {
     :root {
        --width-carusel: 720px;
        --height-carusel: calc(0.253 * var(--width-carusel));
        --font-size: 16px;
        --gap: 20px;
        --shift--left: calc(calc(100vw - 720px) / 2);
    }
}

@media (min-width: 992px) {
     :root {
        --width-carusel: 960px;
        --font-size: 22px;
        --gap: 20px;
        --shift--left: calc(calc(100vw - 960px) / 2);
    }
}

@media (min-width: 1200px) {
     :root {
        --width-carusel: 1140px;
        --font-size: 28px;
        --shift--left: calc(calc(100vw - 1140px) / 2);
        --container-p-size: 30vw;
    }
}

.carusel {
    background: var(--gradien);
    width: var(--width-carusel);
    height: var(--height-carusel);
    border-radius: 18px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-box-shadow: 0px 6px 16px rgba(137, 160, 186, 0.41);
    box-shadow: 0px 6px 16px rgba(137, 160, 186, 0.41);
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: var(--gap);
    -moz-column-gap: var(--gap);
    column-gap: var(--gap);
    -ms-grid-columns: var(--grid-colunn);
    grid-template-columns: var(--grid-colunn);
    -ms-grid-rows: var(--grid-row);
    grid-template-rows: var(--grid-row);
    padding: var(--padding-content);
    position: relative;
}

.carusel>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.carusel>.image-carusel {
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    -webkit-box-shadow: 0px 4px 36px #00142B;
    box-shadow: 0px 4px 36px #00142B;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

.carusel>h3, .carusel>p {
    font-size: var(--font-size);
    color: #fff;
    margin: 0;
    padding: var(--padding-text);
}

.container-carusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.carusel>h3 {
    font-family: 'Rubik', sans-serif;
}

.carusel>p {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.05em;
    line-height: 104.5%;
    width: var(--container-p-size);
}

.circles {
    right: 0;
    -ms-grid-column-align: center;
    justify-self: center;
    position: var(--position);
    display: var(--cicle-orient);
}

.circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: var(--circle-size);
    background-color: #7F8094;
    margin: var(--circle-size);
    cursor: pointer;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.focus {
    background-color: #fff;
}

@media (max-width: 576px) {
    .carusel>.image-carusel {
        -ms-grid-row: 1;
        grid-row: 1;
    }
}

.carusel:hover {
    -webkit-transform: scale(0.995);
    -ms-transform: scale(0.995);
    transform: scale(0.995);
    -webkit-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
}

.circle:hover {
    border: 2px solid honeydew;
    background-color: #b8b8b8;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}