:root {
    --header-gradient-articles: linear-gradient(93.62deg, #24C6DC 2.97%, #514A9D 97.03%);
    --header-gradient-lectures: linear-gradient(93.62deg, #514A9D 5.91%, #F86B6B 97.03%);
    --header-gradient-courses: linear-gradient(93.62deg, #F86B6B 2.97%, #FFB443 97.03%);
}

body {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu>li {
    float: left;
    position: relative;
}

ul.menu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}

ul.menu>li>a:hover {
    background-color: black;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}

ul.submenu>li {
    display: block;
}

ul.submenu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}

ul.submenu>li>a:hover {
    text-decoration: underline;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}

.navbar-collapse {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mr-auto {
    margin-left: auto !important;
    margin-right: 5vw !important;
}

.dialog {
    top: 0;
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: 300;
    display: none;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: var(--header-gradient-articles);
    color: #fff;
    text-align: center;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.container-categorial {
    width: 100vw;
    overflow-x: scroll;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}

.container-categorial::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.categorial-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200vw;
}

.container-dialog {
    margin-top: 20vh;
}

.categorial-main>div {
    margin-right: 20px;
}

.container-types {
    width: 100vw;
    font-family: 'Open Sans';
    font-weight: 300;
    margin: 5vh 0;
}

.arrow {
    font-size: 12px;
}

.arrow:nth-child(1) {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.closes {
    position: absolute;
    right: 0px;
    background: none;
    border: hidden;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
}

.navbar-brand>img {
    width: 48px;
}

.header-page {
    padding-top: 54px;
}

.all {
    margin-top: 10px;
}