:root {
    --width-catg: 100vw;
    --height-catg: auto
}

:root {
    --top-padding: 4vh;
}

body {
    overflow-x: hidden;
}

@media (max-width: 576px) {
     :root {
        --left-padding: 28px;
        --font-size-head-text: 36px;
        --height-catg: calc(0.5 * var(--width-catg));
    }
}


/* md-устройства (больше или равно 768px) */

@media (min-width: 576px) {
     :root {
        --left-padding: calc(calc(100vw - 560px) / 2);
        --height-catg: calc(0.25 * var(--width-catg));
        --font-size-head-text: 48px;
    }
}

@media (min-width: 768px) {
     :root {
        --left-padding: calc(calc(100vw - 720px) / 2);
        --height-catg: calc(0.25 * var(--width-catg));
        --font-size-head-text: 48px;
    }
}


/* lg-устройства (больше или равно 992px) */

@media (min-width: 992px) {
     :root {
        --left-padding: calc(calc(100vw - 960px) / 2);
        --font-size-head-text: 72px;
        --height-catg: calc(0.2 * var(--width-catg));
    }
}


/* xl-устройства (больше или равно 1200px) */

@media (min-width: 1200px) {
     :root {
        --left-padding: calc(calc(100vw - 1140px) / 2);
        --font-size-head-text: 96px;
    }
}

.type-page:before {
    content: var(--type);
    text-shadow: 0px 1px 2px #4E0707;
    font-size: calc(var(--font-size-head-text) * 2 /3);
}

.catg-page:before {
    content: var(--ctg);
    text-shadow: 0px 1px 2px #4E0707;
    font-size: var(--font-size-head-text);
    top: var(--top-padding);
}

.catg-page {
    padding-left: var(--left-padding);
    padding-top: var(--top-padding);
}

.type-page {
    padding-left: var(--left-padding);
    padding-bottom: var(--top-padding);
}

.data {
    --gradient-categorial: linear-gradient(89.31deg, #F86B6B 0.57%, #FFB443 99.4%);
    --url: url('/img/categerial/DS.png') repeat;
}

.web-dev {
    --gradient-categorial: linear-gradient(90deg, #514A9D 0%, #F76B6B 100%);
    --url: url('/img/categerial/web.png') repeat;
}

.design {
    --gradient-categorial: linear-gradient(89.31deg, #24C6DC 0.57%, #514A9D 99.4%);
    --url: url('/img/categerial/design.png') repeat;
}

.all {
    --gradient-categorial: linear-gradient(93.62deg, #49BD59 2.97%, #09A3BC 97.03%);
    --url: url('/img/categerial/all.png') repeat;
}

.data>.catg-page:before {
    content: "DataScience.";
}

.web-dev>.catg-page:before {
    content: "Web-разработка.";
}

.design>.catg-page:before {
    content: "ДИЗАЙН.";
}

.all>.catg-page::before {
    content: "Все";
}

.courses>.type-page:before {
    content: "Курсы";
}

.articles>.type-page:before {
    content: "Статьи";
}

.lectures>.type-page:before {
    content: "Лекции";
}

.header-page {
    width: var(--width-catg);
    background: var(--url), var(--gradient-categorial);
    filter: alpha(0.5);
    font-size: 50px;
    color: white;
}